body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",
  Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.6rem;
  color: white;
  background-color: #03a9f4;
}

@import "blocks/sidebar";
@import "blocks/header";
@import "blocks/main";