<aside class="sidebar">
    <div class="sidebar_header">
        <img class="img-ava" src="assets/images/ava.jpg" alt="">
        <div class="sidebar_profile_name">Alex Shaw</div>
        <div>
            <img class="img-pos" src="assets/images/gps.jpg" alt="">
            <div class="sidebar_profile_from">Ho Shi Minh City, Vietnam</div>
        </div>
        <div class="sidebar_profile_spec">Student</div>
    </div>
    <div class="sidebar_content">
        <img src="assets/images/home.jpg" alt="">
        <div class="sidebar_content_template">Dashboard</div>
        <img src="assets/images/calendar.jpg" alt="">
        <div class="sidebar_content_template">Calendar</div>
        <img src="assets/images/announcements.jpg" alt="">
        <div class="sidebar_content_template">Announcement</div>
        <img src="assets/images/courses.jpg" alt="">
        <div class="sidebar_content_template">Courses</div>
        <img src="assets/images/messages.jpg" alt="">
        <div class="sidebar_content_template">Messages</div>
        <img src="assets/images/forum.jpg" alt="">
        <div class="sidebar_content_template">Forum</div>
    </div>
    <div>
        <img class="sidebar-footer-img-settings" src="assets/images/settings.jpg" alt="">
        <img class="sidebar-footer-img-logout" src="assets/images/logout.jpg" alt="">
    </div>
</aside>